USE [SPRING_MVC]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 01/30/2021 10:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] NOT NULL,
	[USERNAME] [nchar](50) NULL,
	[PASSWORD] [nchar](50) NULL,
	[EMAIL] [nchar](100) NOT NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[USERS] ([ID], [USERNAME], [PASSWORD], [EMAIL]) VALUES (1, N'admin                                             ', N'admin                                             ', N'billybu96969@gmail.com                                                                              ')
INSERT [dbo].[USERS] ([ID], [USERNAME], [PASSWORD], [EMAIL]) VALUES (2, N'bellabin                                          ', N'123123                                            ', N'adasd@gmail.com                                                                                     ')
INSERT [dbo].[USERS] ([ID], [USERNAME], [PASSWORD], [EMAIL]) VALUES (3, N'miccheck                                          ', N'123123                                            ', N'n17dccn149@student.ptithcm.edu.vn                                                                   ')
/****** Object:  Table [dbo].[TYPES]    Script Date: 01/30/2021 10:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPES](
	[IDTYPE] [int] NOT NULL,
	[NAMETYPE] [nvarchar](50) NULL,
 CONSTRAINT [PK_TYPES] PRIMARY KEY CLUSTERED 
(
	[IDTYPE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TYPES] ([IDTYPE], [NAMETYPE]) VALUES (1, N'Cơ')
INSERT [dbo].[TYPES] ([IDTYPE], [NAMETYPE]) VALUES (2, N'Bàn')
/****** Object:  StoredProcedure [dbo].[SP_TIMIDUSER]    Script Date: 01/30/2021 10:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIMIDUSER]
@USERNAME NCHAR(50) 
AS
BEGIN
	SELECT ID 
	FROM USERS
	WHERE USERNAME = @USERNAME
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIMEMAIL]    Script Date: 01/30/2021 10:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIMEMAIL] 
@ID INT
AS
BEGIN
	SELECT *
	FROM USERS
	WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SINHIDUSER]    Script Date: 01/30/2021 10:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SINHIDUSER]
AS
BEGIN
	SELECT ISNULL(MAX(ID), 0) 
	FROM USERS
END
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 01/30/2021 10:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[IDORDER] [int] NOT NULL,
	[ID] [int] NULL,
 CONSTRAINT [PK_ORDERS] PRIMARY KEY CLUSTERED 
(
	[IDORDER] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ORDERS] ([IDORDER], [ID]) VALUES (1, 2)
/****** Object:  Table [dbo].[CATEGORIES]    Script Date: 01/30/2021 10:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIES](
	[IDCATE] [int] NOT NULL,
	[NAMECATE] [nvarchar](50) NULL,
	[PRICES] [float] NULL,
	[DISCOUNT] [int] NULL,
	[NEWITEMS] [bit] NULL,
	[REVIEWS] [nvarchar](1000) NULL,
	[IDTYPE] [int] NULL,
 CONSTRAINT [PK_CATEGORIES] PRIMARY KEY CLUSTERED 
(
	[IDCATE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CATEGORIES] ([IDCATE], [NAMECATE], [PRICES], [DISCOUNT], [NEWITEMS], [REVIEWS], [IDTYPE]) VALUES (1, N'CƠ MCDERMOTT LK L40', 2800, 0, 1, N'Là sản phẩm chính hãng của công ty', 1)
INSERT [dbo].[CATEGORIES] ([IDCATE], [NAMECATE], [PRICES], [DISCOUNT], [NEWITEMS], [REVIEWS], [IDTYPE]) VALUES (2, N'CƠ LỖ MCDERMOTT S55', 3900, 10, 0, N'Là sản phẩm chính hãng của công ty', 1)
INSERT [dbo].[CATEGORIES] ([IDCATE], [NAMECATE], [PRICES], [DISCOUNT], [NEWITEMS], [REVIEWS], [IDTYPE]) VALUES (3, N'CƠ LỖ MCDERMOTT H1050', 27300, 0, 1, N'Là sản phẩm chính hãng của công ty', 1)
/****** Object:  StoredProcedure [dbo].[SP_LAYID]    Script Date: 01/30/2021 10:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAYID]
@USERNAME NCHAR(50)
AS
BEGIN
	SELECT ID
	FROM USERS
	WHERE USERNAME = @USERNAME
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KTTRUNGUSERNAME]    Script Date: 01/30/2021 10:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KTTRUNGUSERNAME]
@USERNAME nchar(50)
AS
BEGIN
	IF EXISTS (SELECT 1 FROM USERS WHERE USERNAME = @USERNAME)
		RETURN 1
	ELSE 
		RETURN 0
END
GO
/****** Object:  Table [dbo].[RESPONSES]    Script Date: 01/30/2021 10:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESPONSES](
	[IDRES] [int] NOT NULL,
	[STARS] [int] NULL,
	[COMMENTS] [nvarchar](1000) NULL,
	[IDCATE] [int] NULL,
	[ID] [int] NULL,
 CONSTRAINT [PK_RESPONSES] PRIMARY KEY CLUSTERED 
(
	[IDRES] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[RESPONSES] ([IDRES], [STARS], [COMMENTS], [IDCATE], [ID]) VALUES (1, 5, N'xin', 1, 1)
INSERT [dbo].[RESPONSES] ([IDRES], [STARS], [COMMENTS], [IDCATE], [ID]) VALUES (2, 3, N'r', 15, 2)
INSERT [dbo].[RESPONSES] ([IDRES], [STARS], [COMMENTS], [IDCATE], [ID]) VALUES (3, 4, N'.', 39, 2)
/****** Object:  Table [dbo].[DETAILS]    Script Date: 01/30/2021 10:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAILS](
	[IDDETAIL] [int] NOT NULL,
	[IDORDER] [int] NULL,
	[IDCATE] [int] NULL,
	[QUALITY] [int] NULL,
 CONSTRAINT [PK_DETAILS] PRIMARY KEY CLUSTERED 
(
	[IDDETAIL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SP_SINHIDORDER]    Script Date: 01/30/2021 10:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SINHIDORDER]
AS
BEGIN
	SELECT ISNULL(MAX(IDORDER), 0)
	FROM ORDERS
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIMIDORDER]    Script Date: 01/30/2021 10:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIMIDORDER]
@ID INT 
AS
BEGIN
	SELECT IDORDER 
	FROM ORDERS
	WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIMIDDETAIL]    Script Date: 01/30/2021 10:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIMIDDETAIL]
@IDCATE INT
AS
BEGIN
	SELECT IDDETAIL
	FROM DETAILS
	WHERE IDCATE = @IDCATE
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SINHIDRES]    Script Date: 01/30/2021 10:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SINHIDRES]
AS
BEGIN
	SELECT ISNULL(MAX(IDRES), 0) 
	FROM RESPONSES
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SINHIDDETAIL]    Script Date: 01/30/2021 10:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SINHIDDETAIL]
AS
BEGIN
	SELECT ISNULL(MAX(IDDETAIL), 0)
	FROM DETAILS
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TONGTIEN]    Script Date: 01/30/2021 10:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TONGTIEN]
@IDORDER INT
AS
BEGIN
	SELECT SUM(TT.TONGTIEN)
	FROM 
		(SELECT QUALITY*(PRICES - PRICES*DISCOUNT/100) AS TONGTIEN
		FROM 
			(SELECT IDCATE, QUALITY 
			FROM DETAILS
			WHERE IDORDER = @IDORDER) D

			, CATEGORIES C
		WHERE C.IDCATE = D.IDCATE) TT
END
GO
/****** Object:  ForeignKey [FK_CATEGORIES_TYPES]    Script Date: 01/30/2021 10:15:00 ******/
ALTER TABLE [dbo].[CATEGORIES]  WITH CHECK ADD  CONSTRAINT [FK_CATEGORIES_TYPES] FOREIGN KEY([IDTYPE])
REFERENCES [dbo].[TYPES] ([IDTYPE])
GO
ALTER TABLE [dbo].[CATEGORIES] CHECK CONSTRAINT [FK_CATEGORIES_TYPES]
GO
/****** Object:  ForeignKey [FK_DETAILS_CATEGORIES]    Script Date: 01/30/2021 10:15:00 ******/
ALTER TABLE [dbo].[DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_DETAILS_CATEGORIES] FOREIGN KEY([IDCATE])
REFERENCES [dbo].[CATEGORIES] ([IDCATE])
GO
ALTER TABLE [dbo].[DETAILS] CHECK CONSTRAINT [FK_DETAILS_CATEGORIES]
GO
/****** Object:  ForeignKey [FK_DETAILS_ORDERS]    Script Date: 01/30/2021 10:15:00 ******/
ALTER TABLE [dbo].[DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_DETAILS_ORDERS] FOREIGN KEY([IDORDER])
REFERENCES [dbo].[ORDERS] ([IDORDER])
GO
ALTER TABLE [dbo].[DETAILS] CHECK CONSTRAINT [FK_DETAILS_ORDERS]
GO
/****** Object:  ForeignKey [FK_ORDERS_USERS]    Script Date: 01/30/2021 10:15:00 ******/
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_USERS] FOREIGN KEY([ID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_USERS]
GO
/****** Object:  ForeignKey [FK_RESPONSES_CATEGORIES]    Script Date: 01/30/2021 10:15:00 ******/
ALTER TABLE [dbo].[RESPONSES]  WITH CHECK ADD  CONSTRAINT [FK_RESPONSES_CATEGORIES] FOREIGN KEY([IDCATE])
REFERENCES [dbo].[CATEGORIES] ([IDCATE])
GO
ALTER TABLE [dbo].[RESPONSES] CHECK CONSTRAINT [FK_RESPONSES_CATEGORIES]
GO
